{% extends "main.html" %}
{% load static %}
{% block title %}
    Department
{% endblock %}
{% block pageheader %}
   <h3 class="box-title">
                Department
            </h3>
{% endblock %}
{% block breadcrumbs %}

{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-12">
            {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ message }}
                  </div>
        {% endfor %}
        {% endif %}

<div class="box">
<div class="box-body">
<div class="row">
        <div class="col-md-12">

<form action="/department/{% firstof department.id "add" %}/" method="post">
{% csrf_token %}
{% load widget_tweaks %}

   {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {% if field|widget_type != 'checkboxinput' %}
                        {{ field|append_attr:"class:form-control" }}
                        {{ field.default_error_messages }}
                        {% else %}
                            {{ field }}
                            {{ field.default_error_messages }}
                    {% endif %}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        <div class="box-footer">
            <input type="submit" value="Save" class="btn btn-warning" />
        </div>
</form>
            </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}
{% block scriptblock %}
                        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static "bootstrap-table/bootstrap-table.css" %}">

<!-- Latest compiled and minified JavaScript -->
<script src="{% static "bootstrap-table/bootstrap-table.js" %}"></script>

<!-- Latest compiled and minified Locales -->
<script src="{% static "bootstrap-table/locale/bootstrap-table-en-US.js" %}"></script>

{% endblock %}
